<script setup>
import {computed, ref} from 'vue';
import {getCookie, setCookie} from '@/helpers/cookie';
import cities from './data/cities.json';
import workshops from './data/workshops.json';
import employees from './data/employees.json';
import shifts from './data/shifts.json';
import Dropdown from 'primevue/dropdown';

const saveCookies = () => {
    setCookie('selectedCity', selectedCity.value);
    setCookie('selectedWorkshop', selectedWorkshop.value);
    setCookie('selectedEmployee', selectedEmployee.value);
    setCookie('selectedShift', selectedShift.value);
}

const cityCookie = getCookie('selectedCity');
const workshopCookie = getCookie('selectedWorkshop');
const employeeCookie = getCookie('selectedEmployee');
const shiftCookie = getCookie('selectedShift');

const selectedCity = ref(cityCookie ? JSON.parse(cityCookie) : '');
const selectedWorkshop = ref(workshopCookie ? JSON.parse(workshopCookie) : '');
const selectedEmployee = ref(employeeCookie ? JSON.parse(employeeCookie) : '');
const selectedShift = ref(shiftCookie ? JSON.parse(shiftCookie) : '');

const filteredWorkshops = computed(() =>
    selectedCity.value ?
        workshops.filter(w => w['city_id'] === selectedCity.value['id']) :
        workshops
);
const filteredEmployees = computed(() =>
    selectedWorkshop.value ?
        employees.filter(w => w['workshop_id'] === selectedWorkshop.value['id']) :
        employees
);

</script>

<template>
    <Dropdown
            v-model='selectedCity'
            :options='cities'
            optionLabel='name'
            placeholder='Select a City'
            @change='saveCookies'
            style='min-width: 20rem'
    />
    <Dropdown
            v-model='selectedWorkshop'
            :options='filteredWorkshops'
            optionLabel='name'
            placeholder='Select a Workshop'
            @change='saveCookies'
            style='min-width: 20rem'
    />
    <Dropdown
            v-model='selectedEmployee'
            :options='filteredEmployees'
            optionLabel='name'
            placeholder='Select an Employee'
            @change='saveCookies'
            style='min-width: 20rem'
    />
    <Dropdown
            v-model='selectedShift'
            :options='shifts'
            optionLabel='name'
            placeholder='Select a Shift'
            @change='saveCookies'
            style='min-width: 20rem'
    />
</template>
