* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: Inter, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}
